@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf) format('opentype');
}


:root {
    --light-color: #1CF58E;
    --normal-color: #38CA86;
    --medium-color1: #47A076;
    --medium-color2: #487560;
    --dark-color1: #3A4B43;
    --dark-color2: #133825;
    --shadow-color: rgba(0, 0, 0, 0.211);

    --header-font: 'Oxanium', monospace;
    --header-sub-font: 'Roboto Condensed', Arial, sans-serif;
    --main-font: 'Roboto', Arial, Helvetica, sans-serif;
    --title-font: Android, monospace; 
}

* {
    margin: 0px;
    padding: 0px;
}

/* Configuração do Body*/
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(211, 211, 211);
    font-family: var(--main-font);
}


/* Configuração do Header */
header {
    background-image: linear-gradient(to bottom, var(--light-color), var(--dark-color2));
    box-shadow: 4px 4px 16px 8px var(--shadow-color);
    padding: 56px 24px 24px 24px;
}

h1#site-title {
    font: normal bold 2.5em var(--header-font);
    text-align: center;
    color: white;
    text-shadow: 3px 3px 8px var(--shadow-color);
    margin-top: 0;
}

h2#site-subtitle {
    font: normal normal 1.2em var(--header-sub-font);
    text-align: center;
    color: white;
    margin-bottom: 36px;
    text-shadow: 3px 3px 8px var(--shadow-color);
}

nav > a {
    color: white;
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    font-size: 1em;
    transition: background-color 0.2s linear;
}

nav > a:hover {
    background-color: var(--light-color);
    color: var(--dark-color2);
}


/* Configuração do Main */
main {
    background-color: rgb(255, 255, 255);
    padding: 12px 24px;
    margin: auto;
    max-width: 1200px;
    min-width: 280px;
    padding-bottom: 72px;
}


h1, h2, h3 {
    font-family: var(--title-font);
    color: var(--dark-color2);
    text-shadow: 3px 3px 10px var(--shadow-color);
    margin: 24px 0;
}

p {
    font-size: 1.2em;
    text-indent: 1.7em;
    text-align: justify;
    line-height: 1.7;
    margin: 24px 0;
}

p > a {
    color: var(--light-color);
    font-weight: bold;
    text-decoration: none;
}

p > a:visited {
    color: var(--medium-color2); 
}

p > a:hover {
    color: var(--dark-color2);
    text-decoration: underline;
}

strong {
    color: var(--dark-color2); 
}

img {
    width: 100%;
}

.small-image {
    display: block;
    width: 45%;
    margin: auto;
}

section#video-area {
    background-color: var(--dark-color2);
    box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.211);
}

section#video-area > iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 560/315;
    max-width: 850px;
    margin: auto;
    border: 3px solid var(--dark-color2);
}


/* Extra */
aside {
    background-color: var(--normal-color);
    padding: 24px;
    max-width: 840px;
    margin: 56px auto;
    border-radius: 24px;
    box-shadow: 4px 4px 16px 8px var(--shadow-color);
}

aside > h1 {
    font-size: 1.5em;
}

aside > p {
    font-weight: bold;
    font-size: 1em;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

aside > ul > li {
    color: var(--dark-color1);
    font-weight: bold;
}


/* Configuração do footer */
footer {
    background-color: var(--dark-color1);
    padding: 12px 24px;
    margin: auto;
    max-width: 1200px;
    min-width: 280px;
    padding-bottom: 72px;
    border-top: 5px solid var(--light-color);
}

footer p {
    color: white;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
}

footer li {
    color: white;
    line-height: 1.2em;
    margin-bottom: 15px;
}

footer  ul {
    list-style-position: inside;
    margin-top: 40px;
}

footer a {
    color: var(--light-color);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer a:visited {
    color: var(--medium-color1);
}

footer a:visited:hover {
    color: white;
}

/* Classes gerais */
.external::after {
    content: '\1F517';
    display: inline;
    text-decoration: none;
    margin: 0px;
}
